@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la aplicación de MyStore</h1>
    <p>Para Comenzar seleccione la pestaña "Clientes".</a>.</p>
</div>
